<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="the.one.test">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="the.one.test.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--这里的value更换成自己的key-->
        <meta-data android:name="com.baidu.lbsapi.API_KEY"
            android:value="bht5LPUxbBAXCi4GHRa8GrMfT8i1vUNR"/>
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"/>
    </application>

</manifest>